body {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
  }
  
  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .container > form {
    width: 70%;
    height: 60%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  /* button {
    background: #0563b4 !important;
  } */
  p {
    color: red;
  }

  

  .AdminLink {
    margin-top: 5px;
    text-align: center;
}

.PageContainer {
  min-height: 100vh;
  position: relative;
  background-color: #f9f4f4;
}

.FormContainer {
  /* position: fixed; */
  margin-top: -40px;
  height: 100%;
  width: 100%;
}

.InputLogin {
  border: 1px solid #15BAEB!important;
}

.InputLogin:focus, .InputLogin:hover {
  border: 3px solid #15BAEB!important;
}

form {
  background-color: white;
  min-width: 500px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.4);
  border: 5px outset;
}

.LogoLogin  {
  width: 150px;
  height: 160px;
  cursor: pointer;
}

.Link {
  color: #15BAEB;
  cursor: pointer;
  text-decoration: underline;
}
