  .home-1{
    position: relative;
    padding: 8px;
    height: 500px;
    
  }

.parent {
    
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    vertical-align: middle;
}
.video div{
  width: 550px!important;
  height: 400px!important;
}
/* .Expert-button{
    font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 10px;
  cursor: pointer;
} */

.Button {
  border: none;
  background: #111122;
  color: white;
  font-size: 0.7em;
  padding: 0.6em 1.0em;
  border-radius: var(--border-radius);
  margin: 1em 5px;
  opacity: 0.85;
  transition: all 0.25s;
  cursor: pointer;
}