.home-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
}

.parent {
    
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    
    padding: 1rem 1rem;
    vertical-align: middle;
}

/* .Expert-button{
    font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 10px;
  cursor: pointer;
} */