.home-image{
    width:250px;
    margin-top: 25px;
}

.home-searchBar{
    width: 900px !important;
    margin-top: 30px;
}

.home-howWeWork{
    background-color: aqua;
}

.container-input{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

